
@{
    ViewBag.Title = "Analytics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<div id="analyticsSection" style="padding-top:5%;">
    <div class="row">
        <div class="column" style="padding:20px;width:80%;height:60vh;margin:auto;">

            <div>
                <div class="chart-wrapper" style="width:100%;display:inline-block">
                    <canvas id="pieChart"></canvas>
                </div>
            </div>

        </div>

        <div class="column" style="padding:1% 5% 3% 5%;">
            <div style="text-align:center;">
                <h2><b>The World</b></h2>
            </div>

            <div style="margin-top:20px;">
                <ul>
                    <li>
                        <h4 style="line-height:1.8;text-align:justify">
                            According to the Australian Government Department of Home Affairs refugees statistics from 2016 to 2019, the top 9 refugee-importing countries are Iraq, Syria, Myanmar, Afghanistan, Democratic Republic of Congo, Ethiopia, Eritrea, Iran, Central African Republic accounting for 76% of the total refugee population.
                        </h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="column" style="padding:1% 5% 3% 5%;">
            <div style="text-align:center;">
                <h2><b>The World</b></h2>
            </div>

            <div style="margin-top:20px;">
                <ul>
                    <li>
                        <h4 style="line-height:1.8;text-align:justify">
                            According to the Australian Government Department of Home Affairs refugees statistics from 2016 to 2019, the top 9 refugee-importing countries are Iraq, Syria, Myanmar, Afghanistan, Democratic Republic of Congo, Ethiopia, Eritrea, Iran, Central African Republic accounting for 76% of the total refugee population.
                        </h4>
                    </li>
                </ul>
            </div>
        </div>

        <div class="column" style="padding:20px;width:80%;height:60vh;margin:auto;">

            <div>
                <div class="chart-wrapper" style="width:100%;display:inline-block">
                    <canvas id="barChart"></canvas>
                </div>
            </div>

        </div>
    </div>


</div>


<script src="~/Scripts/analyticsScript.js"></script>

