
@{
    ViewBag.Title = "Analytics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<div style="text-align:center ;background-color:#f2f2f2; padding:5%; color:#CBA783">
    <h1><b> Some Facts </b></h1>
</div>


<div id="analyticsSection">
    <div class="row">
        <div class="column" style="padding:20px;width:80%;height:60vh;margin:auto;">
            <div class="dropdown" style="float:right; padding-right:10%;">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Year
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a id="2015_16">2015 – 16</a></li>
                    <li><a id="2016_17">2016 – 17</a></li>
                    <li><a id="2017_18">2017 – 18</a></li>
                    <li><a id="2018_19">2018 – 19</a></li>
                    <li><a id="2019_20">2019 – 20</a></li>
                    @*<li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>*@
                </ul>
            </div>

            <div>
                <div class="chart-wrapper" style="width:100%;display:inline-block">
                    <canvas id="pieChart"></canvas>
                </div>
            </div>

        </div>

        <div class="column" style="padding:1% 5% 3% 5%;">
            <div style="text-align:center;">
                <h3><b>Refugees in Australia</b></h3>
            </div>

            <div style="margin-top:20px;">
                <ul>
                    <li>
                        <h4 style="line-height:1.8;text-align:justify">
                            According to the Australian Government Department of Home Affairs refugees statistics from 2016 to 2019, the top 9 refugee-importing countries are Iraq, Syria, Myanmar, Afghanistan, Democratic Republic of Congo, Ethiopia, Eritrea, Iran, Central African Republic accounting for 76% of the total refugee population.
                        </h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div style="text-align:center ;background-color:#f2f2f2; padding:5%; color:#CBA783 ">
        <h2>We Believe</h2>
        <h4>Through sports, we can help refugees overcome language barrier and help them make new friends and find a sense of belonging and self worth here in Australia</h4>
    </div>

    <div class="row">

        <div class="column" style="padding:1% 5% 3% 5%;">
            <div style="text-align:center;">
                <h2><b>Men And Women</b></h2>
            </div>

            <div style="margin-top:20px;">
                <ul>
                    <li>
                        <h4 style="line-height:1.8;text-align:justify">
                            According to the Australian Government Department of Home Affairs refugees statistics from 2016 to 2019, the highest male to female population that has come to Australia is from Iraq.
                        </h4>
                    </li>
                </ul>
            </div>
        </div>

        <div class="column" style="padding:20px;width:80%;height:60vh;margin:auto;">

            <div>
                <div class="dropdown" style="float:left; padding-right:10%;">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Year
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a id="mf2015_16">2015 – 16</a></li>
                        <li><a id="mf2016_17">2016 – 17</a></li>
                        <li><a id="mf2017_18">2017 – 18</a></li>
                        <li><a id="mf2018_19">2018 – 19</a></li>
                        <li><a id="mf2019_20">2019 – 20</a></li>
                        @*<li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>*@
                    </ul>
                </div>
                <div class="chart-wrapper" style="width:100%;display:inline-block;padding:5%;">
                    <canvas id="barChart"></canvas>
                </div>
            </div>

        </div>
    </div>


</div>

<div style="text-align:center ;background-color:#f2f2f2; padding:5%; color:#CBA783 ">
    <h2>To over Such problems we can help you comare sports played in Australia </h2>
</div>

<div>
    <div class="row">

        <div class="column" style="padding:20px;text-align:center;" id="segueSportsAnalytics">
            <div class="card" style="display:inline-block;">
                <div style="text-align:center;">
                    <h3><b>Find Sport</b></h3>
                </div>
                <div style="margin-top:20px;">
                    <img src="~/Images/Symbols/sport.png" style="height:55%;width:55%; padding:20px 0 20px 0;" />
                </div>
                <div>
                    <span>Click to see more details</span>
                </div>
            </div>

        </div>
    </div>

</div>



<script src="~/Scripts/analyticsScript.js"></script>

