@{
    ViewBag.Title = "Compare";
}


<br />
<br />
<br />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<center>
    <h1 style="color: #CBA783;">
        Compare Sports
    </h1>
    <h3 style="color: #CBA783;">
        Find your sport here in Australia  
    </h3>
    <br />
</center>



@*<div class="tab" style="min-width:10vw;">
    <button class="tablinks" onclick="openCity(event, 'Swimming')" id="defaultOpen">Swimming</button>
    <button class="tablinks" onclick="openCity(event, 'Cycling')">Cycling</button>
    <button class="tablinks" onclick="openCity(event, 'AFL')">Australian Rules Football</button>
    <button class="tablinks" onclick="openCity(event, 'Golf')">Golf</button>
    <button class="tablinks" onclick="openCity(event, 'Basketball')">Basketball</button>
</div>*@

<div class="container body-content">
    <div class="row">
        <div class="box col-md-6">

            <h2 style="text-align: center;">
                Australia
            </h2>

            <center style="padding:3%;">
                <img style="width: 15vw; height: 24vh;" src="~/Images/countryFlag/Australia.png" />
            </center>
            <div class="left" style="
                                 padding: 14px;
                                 border-radius: 16px !important;">
                <center>
                    <div class="btn-group" role="group" aria-label="...">
                        <button class="btn btn-default tab-links" onclick="ausSport(event, 'Swimming')" id="defaultOpen">Swimming</button>
                        <button class="btn btn-default tab-links" onclick="ausSport(event, 'Cycling')">Cycling</button>
                        <button class="btn btn-default tab-links" onclick="ausSport(event, 'AFL')">Australian Rules Football</button>
                        <button class="btn btn-default tab-links" onclick="ausSport(event, 'Golf')">Golf</button>
                        <button class="btn btn-default tab-links" onclick="ausSport(event, 'Basketball')">Basketball</button>
                    </div>

                </center>
                


                <div id="Swimming" class="tabcontent">

                    <h3>Swimming</h3>
                    <ul>
                        <li>
                            Swimming is Australia’s most popular sport, with a HUGE 3.1 million people regularly involved in it.
                        </li>

                        <li>
                            Regardless of age, it seems that Australians just love their swimming, which isn’t surprising given how hot it is in Australia for most of the year, and how amazing most of our beaches are.
                        </li>

                        <li>
                            We would love to know which sport you play.
                        </li>

                        <li>
                            Was it on this list? Where did it rank? Is it perhaps another sport that isn’t on this list, but that you think might make the top 10 in a few years’ time?
                        </li>
                    </ul>


                </div>

                <div id="Cycling" class="tabcontent">
                    <h3>Cycling</h3>
                    <ul>
                        <li>Cycling has two peak age periods for organised participation: the first at ages 9-11 then again at 45-54. As they say, it’s like riding a bike!</li>
                        <li>Most children start to learn how to ride a bike at a very young age, usually a lot younger than most children first start participating in any social sports competitions. </li>
                        <li>As a result of this, cycling has become one of our most popular sports, with over 2.4 million people participating in it. </li>
                        <li>Whether it be competitively, or as a genuine way of travel, the popularity of cycling is continuing to increase as we speak.</li>
                    </ul>

                </div>

                <div id="AFL" class="tabcontent">
                    <h3>AFL</h3>
                    <ul>
                        <li>
                            Aussie Rules, officially known as Australian Rules Football (AFL) or Australian football, is the most popular sport in Australia. </h4>
                        </li>

                        <li>It is a contact sport played by eighteen players per team.<li>

                        <li>The sport dates back to the 19th century, and it is deeply rooted in Australian traditions. </li>

                        <li>AFL is played by 1,404,176 registered players in 25,770 registered clubs as of 2016.</li>

                        <li>In 2017, the Grand finale of Australian Football was watched by over 8.4 million Australians making the AFL the most-watched sport in Australia.</li>

                        <li>The popularity of the sport has been extended beyond Australia’s boundaries into other countries such as China.</li>
                    </ul>

                </div>

                <div id="Golf" class="tabcontent">
                    <h3>Golf</h3>
                    <ul>
                        <li>Steadily seeing an increase in recent years, golf has been one of Australia’s most popular sports in recent years.</li>
                        <li>Golf, which was first played in 1839, has since progressed to become one of Australia’s most favorite sports.</li>
                        <li>The PGA Tour of Australasia, which happens to be one of Australia’s major golf events, attracts some of the world’s best golf players.</li>
                        <li>The PGA Tour of Australasia also features a good number of Australians who have been successful at the tournament.</li>
                    </ul>

                </div>

                <div id="Basketball" class="tabcontent">
                    <h3>Basketball</h3>
                    <ul>
                        <li>Being a fairly popular sport in Australia, basketball is rated as the second most popular team participation sport in the region.</li>
                        <li>The sport also attracts about 1 million players in Australia.</li>
                        <li>The NBA largely influences the rise in basketball participation in far-away America, including the domestic basketball league and the National Basketball League in Australia.</li>
                        <li>The national basketball team also enjoys a good media following as well as support from Australians.</li>
                        <li>Basketball, which was first played in Australia in February 1897, is popular in parts of Australia like Victoria.</li>
                    </ul>
                </div>
            </div>
        </div>





        <div class="col-md-6">
            <div class="right">
                <h2 id="country" style="text-align: center;">
                    Country
                </h2>
                <div>


                    <center style="padding:3%;">
                        <img id="SyriaImage" class="countryImage" style="object-fit:contain; width:20vw;height:24vh;" src="~/Images/countryFlag/Syria.png"/>
                        <img id="IraqImage" class="countryImage" style="object-fit:contain; width:20vw;height:24vh;" src="~/Images/countryFlag/Iraq.png"/>
                        <img id="DRCImage" class="countryImage" style="object-fit:contain; width:20vw;height:24vh;" src="~/Images/countryFlag/Congo.png"/>
                        <img id="MyanmarImage" class="countryImage" style="object-fit:contain; width:20vw;height:24vh;" src="~/Images/countryFlag/Myanmar (1).png"/>
                        <img id="AfganistanImage" class="countryImage" style="object-fit:contain; width:20vw;height:24vh;" src="~/Images/countryFlag/Afganistan.png"/>
                        <img id="EritreaImage" class="countryImage" style="object-fit:contain; width:20vw;height:24vh;" src="~/Images/countryFlag/Eritrea.png"/>
                        <img id="EthiopiaImage" class="countryImage" style="object-fit:contain; width:20vw;height:24vh;" src="~/Images/countryFlag/Ethiopia.png"/>
                        <img id="CARImage" class="countryImage" style="object-fit:contain; width:20vw;height:24vh;" src="~/Images/countryFlag/CAR.png"/>
                        <img id="IranImage" class="countryImage" style="object-fit:contain; width:20vw;height:24vh;" src="~/Images/countryFlag/Iran.png"/>
                    </center>

                    <center>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default" onclick="countrySport('Syria')" value="Syria"> Syria </button>
                            <button type="button" class="btn btn-default" onclick="countrySport('Iran')" value="Iran"> Iran </button>
                            <button type="button" class="btn btn-default" onclick="countrySport('Iraq')" value="Iraq"> Iraq </button>
                            <button type="button" class="btn btn-default" onclick="countrySport('Myanmar')" value="Myanmar"> Myanmar </button>




                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Others
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">


                                    <li><a href="#" onclick="countrySport('DRC')" value="DRC">Democratic Republic of Congo</a></li>
                                    <li><a href="#" onclick="countrySport('Afganistan')" value="Afganistan">Afghanistan</a></li>
                                    <li><a href="#" onclick="countrySport('Eritrea')" value="Eritrea">Eritrea</a></li>
                                    <li><a href="#" onclick="countrySport('Ethiopia')" value="Ethiopia">Ethiopia</a></li>
                                    <li><a href="#" onclick="countrySport('CAR')" value="CAR"> Central African Republic</a></li>
                                </ul>
                            </div>
                        </div>
                    </center>

                    <!--<center>

                        <label>
                            <input type="checkbox" name="colorCheckbox"
                                   value="Syria"> Syria
                        </label>
                        <label>
                            <input type="checkbox" name="colorCheckbox"
                                   value="Iraqs"> Iraq
                        </label>
                        <label>
                            <input type="checkbox" name="colorCheckbox"
                                   value="Myanmar"> Myanmar
                        </label>
                        <label>
                            <input type="checkbox" name="colorCheckbox"
                                   value="Congo"> Democratic Rubblic of Congo
                        </label>
                        <label>
                            <input type="checkbox" name="colorCheckbox"
                                   value="Afghanistan"> Afghanistan
                        </label>

                        <label>

                            <input type="checkbox" name="colorCheckbox"
                                   value="Eritrea"> Eritrea

                        </label>

                        <label>
                            <input type="checkbox" name="colorCheckbox"
                                   value="Ethiopia"> Ethiopia
                        </label>
                        <label>
                            <input type="checkbox" name="colorCheckbox"
                                   value="Central African Republic"> Central African Republic
                        </label>

                        <label>
                            <input type="checkbox" name="colorCheckbox"
                                   value="Iran"> Iran
                        </label>-->
                        @*<label>
                        <input type="checkbox" name="colorCheckbox"
                                value="Australia"> Australia
                        </label>*@

                    <!--</center>-->


                </div>



                <div id="Iran" class="selectt countryContent">
                 
                    <h2>Top Sports</h2>
                    <ul name="IranSporta">
                        <li>
                            Football (Soccer)
                        </li>
                        <li>
                            freestyle wrestling
                        </li>
                        <li>futsal</li>
                        <li>skiing </li>
                        <li>martial arts</li>
                        <li>kabaddi</li>
                    </ul>

                </div>
                
                <div id="Eritrea" class="selectt countryContent">
                    <h2>Top Sports</h2>
                    <ul>
                        
                        <li>Football (Soccer)</li>
                        <li>cycling,</li>
                        <li>volleyball</li>
                    </ul>
                    Eritrea content will be done in iteration2
                </div>
                
                <div id="Ethiopia" class="selectt countryContent">
                    <h2>Top Sports</h2>
                    <ul>

                        <li>Track and Field</li>
                        <li>Football (Soccer)</li>
                        <li>basketball</li>
                    </ul>
                </div>
                
                <div id="CAR" class="selectt countryContent">
                    <h2>Top Sports</h2>
                    <ul>
                        <li>Football (Soccer)</li>
                        <li> Basketball</li>
                        <li>rugby</li>
                        <li>boxing</li>
                        <li>athletics</li>
                    </ul>
                    
                </div>

                <div id="Syria" class="selectt countryContent">
                    <h2>Top Sports</h2>
                    <ul>
                    
                        <li>Football (Soccer)</li>
                        <li>basketball</li>
                        <li>tennis</li>
                        <li>swimming</li>
                        <li>weightlifting</li>
                        <li>judo</li>
                        <li>karate</li>
                    </ul>
                </div>

                <div id="Iraq" class="selectt countryContent">
                    <h2>Top Sports</h2>
                    <ul>
                     
                        <li>Football (Soccer)</li>
                        <li>Basketball</li>
                        <li>kickboxing</li>
                        <li>wrestling</li>
                      
                    </ul>

                </div>
                <div id="Myanmar" class="selectt countryContent">
                    <h2>Top Sports</h2>
                    <ul>
                     
                        <li>Football (Soccer)</li>
                        <li>golf</li>
                        <li>sepak takraw</li>
                        <li>cricket</li>
                        
                    </ul>
                    
                </div>
                <div id="DRC" class="selectt countryContent">
                    <h2>Top Sports</h2>
                    <ul>
                        <li>Football (Soccer)</li>
                        <li>
                            Basketball
                        </li>
                        <li>Rugby</li>
                    </ul>
                    
                              
                </div>
                <div id="Afganistan" class="selectt countryContent">
                    
                    <h2>Top Sports</h2>
                    
                    <ul>
                        <li>
                            Football (Soccer)
                        </li>
                        <li>Cricket</li>
                        <li>Boxing</li>
                        <li> Basketball</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>



  
   






@*<div class="Australia selectt">
        <h2>Australia</h2>
        <strong>Australia</strong>
        Australia content
    </div>*@

@*<div>
        <h2>Tennis</h2>
        <strong>Tennis</strong>
        Tennis content
    </div>
    <div>
        <ul>
            <li class="select"> selection1</li>
            <li>   selection2</li>
        </ul>
        <div id="main">
            <div class="box">content of selection1</div>
            <div class="hidden">content of selection2</div>
        </div>
    </div>*@




<link href="~/Content/comparePage.css" rel="stylesheet" />
<script src="~/Scripts/compare.js"></script>