@{
    ViewBag.Title = "Compare";
}


<br />
<br />
<br />

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<style type="text/css">


        @*
        li {
            border-top: 1px solid #999;
            border-left: 1px solid #999;
            border-bottom: 1px solid #999;
            height: 30px;
            width: 100px;
            margin-top: 10px;
        }

        ul, li {
            list-style: none;
        }

        .box {
            border-top: 1px solid #999;
            border-left: 1px solid #999;
            border-bottom: 1px solid #999;
            border-right: 1px solid #999;
            width: 400px;
            height: 200px;
            float: left;
        }

        ul {
            float: left;
        }

        .hidden {
            display: none;
        }

        .select {
            background-color: #20B19F;
        }*@
</style>



<center>
    <h1 style="color: #CBA783;">
        Compare Sports
    </h1>
    <h3>
        What kind of sports do refugees from different countries like ?
    </h3>
    <br />
</center>

<body>
    <div class="box">
        <div class="left" style="border: 1px solid #ccc !important; padding: 14px;
        border-radius: 16px !important;
">
            <h2 style="text-align: center;
        color: #CBA783;
">
                Australia Popular Sports
            </h2>

            <img src="~/Images/australia.png" />

            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'Swimming')" id="defaultOpen">Swimming</button>
                <button class="tablinks" onclick="openCity(event, 'Cycling')">Cycling</button>
                <button class="tablinks" onclick="openCity(event, 'AFL')">Australian Rules Football</button>
                <button class="tablinks" onclick="openCity(event, 'Golf')">Golf</button>
                <button class="tablinks" onclick="openCity(event, 'Basketball')">Basketball</button>
            </div>

            <div id="Swimming" class="tabcontent">
                <h3>Swimming</h3>
                <p>
                    Swimming is Australia’s most popular sport, with a HUGE 3.1 million people regularly involved in it.
                </p>
                <p>Regardless of age, it seems that Australians just love their swimming, which isn’t surprising given how hot it is in Australia for most of the year, and how amazing most of our beaches are.</p>

                <p> We would love to know which sport you play. </p>
                <p>
                    Was it on this list? Where did it rank? Is it perhaps another sport that isn’t on this list, but that you think might make the top 10 in a few years’ time?
                </p>
            </div>

            <div id="Cycling" class="tabcontent">
                <h3>Cycling</h3>
                <p>Cycling has two peak age periods for organised participation: the first at ages 9-11 then again at 45-54. As they say, it’s like riding a bike!</p>
                <p>Most children start to learn how to ride a bike at a very young age, usually a lot younger than most children first start participating in any social sports competitions. </p>
                <p>As a result of this, cycling has become one of our most popular sports, with over 2.4 million people participating in it. </p>
                <p>Whether it be competitively, or as a genuine way of travel, the popularity of cycling is continuing to increase as we speak.</p>
            </div>

            <div id="AFL" class="tabcontent">
                <h3>AFL</h3>
                <p>
                    Aussie Rules, officially known as Australian Rules Football (AFL) or Australian football, is the most popular sport in Australia.
                </p>

                <p>It is a contact sport played by eighteen players per team.</p>

                <p>The sport dates back to the 19th century, and it is deeply rooted in Australian traditions.</p>

                <p>AFL is played by 1,404,176 registered players in 25,770 registered clubs as of 2016.</p>

                <p>In 2017, the Grand finale of Australian Football was watched by over 8.4 million Australians making the AFL the most-watched sport in Australia.</p>

                <p>The popularity of the sport has been extended beyond Australia’s boundaries into other countries such as China.</p>
            </div>

            <div id="Golf" class="tabcontent">
                <h3>Golf</h3>
                <p>Steadily seeing an increase in recent years, golf has been one of Australia’s most popular sports in recent years.</p>
                <p>Golf, which was first played in 1839, has since progressed to become one of Australia’s most favorite sports.</p>
                <p>The PGA Tour of Australasia, which happens to be one of Australia’s major golf events, attracts some of the world’s best golf players.</p>
                <p>The PGA Tour of Australasia also features a good number of Australians who have been successful at the tournament.</p>
            </div>

            <div id="Basketball" class="tabcontent">
                <h3>Basketball</h3>
                <p>Being a fairly popular sport in Australia, basketball is rated as the second most popular team participation sport in the region.</p>
                <p>The sport also attracts about 1 million players in Australia.</p>
                <p>The NBA largely influences the rise in basketball participation in far-away America, including the domestic basketball league and the National Basketball League in Australia.</p>
                <p>The national basketball team also enjoys a good media following as well as support from Australians.</p>
                <p>Basketball, which was first played in Australia in February 1897, is popular in parts of Australia like Victoria.</p>
            </div>




        </div>
    </div>


    <div class="right" style=" border: 1px solid #ccc !important; padding: 14px;
         border-radius: 16px !important;">
        <h2 style="text-align: center;
        color: #CBA783;
">
            Top5 Refugee Popular Sports
        </h2>
        <div>
            <label>
                <input type="checkbox" name="colorCheckbox"
                       value="Syria"> Syria
            </label>
            <label>
                <input type="checkbox" name="colorCheckbox"
                       value="Irap"> Irap
            </label>
            <label>
                <input type="checkbox" name="colorCheckbox"
                       value="Myanmar"> Myanmar
            </label>
            <label>
                <input type="checkbox" name="colorCheckbox"
                       value="Congo"> Congo
            </label>
            <label>
                <input type="checkbox" name="colorCheckbox"
                       value="Afghanistan"> Afghanistan
            </label>
            @*<label>
                    <input type="checkbox" name="colorCheckbox"
                           value="Australia"> Australia
                </label>*@
        </div>

        <div class="Syria selectt">
            <h2>Syria</h2>
            <strong>Syria</strong>
            Syria content will be done in iteration2
        </div>
        <div class="Irap selectt">
            <h2>Irap</h2>
            <strong>Irap </strong>
            Irap content will be done in iteration2
        </div>
        <div class="Myanmar selectt">
            <h2>Myanmar</h2>
            <strong>Myanmar</strong>
            Myanmar content will be done in iteration2
        </div>
        <div class="Congo selectt">
            <h2>Congo</h2>
            <strong>Congo</strong>
            Congo content will be done in iteration2
        </div>
        <div class="Congo selectt">
            <h2>Afghanistan</h2>
            <strong>Afghanistan</strong>
            Afghanistan content will be done in iteration2
        </div>
    </div>

</body>




@*<div class="Australia selectt">
        <h2>Australia</h2>
        <strong>Australia</strong>
        Australia content
    </div>*@

@*<div>
        <h2>Tennis</h2>
        <strong>Tennis</strong>
        Tennis content
    </div>
    <div>
        <ul>
            <li class="select"> selection1</li>
            <li>   selection2</li>
        </ul>
        <div id="main">
            <div class="box">content of selection1</div>
            <div class="hidden">content of selection2</div>
        </div>
    </div>*@

<script type="text/javascript">
    $(document).ready(function () {
        $('input[type="checkbox"]').click(function () {
            var inputValue = $(this).attr("value");
            $("." + inputValue).toggle();
        });
    });
</script>


<link href="~/Content/comparePage.css" rel="stylesheet" />
<script src="~/Scripts/compare.js"></script>