@{
    ViewBag.Title = "Compare";
}

<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/Compare.css" rel="stylesheet" />



@*  The Importance Section
    <h1 style="color: #CBA783;text-align:center;">
        Compare Sports
    </h1>
    <br />
    <div id="importanceSection">
        <div id="header">

        </div>

        <div class="importanceContentContainter">
            <p style="text-align:center; font-size:medium" id="importanceContent">
                Choose your interested country in the right and compare with sports in Australia.
            </p>
            <p style="text-align:center;font-size:medium" id="importanceContent">
                The overlap popular sports will be shown in the middle.
            </p>
            <p style="text-align:center;font-size:medium" id="importanceContent">
                The different sports of each country will be shown separately.
            </p>
        </div>
    </div>

    <br />


    @*
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Others
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu"
                <li><a href="#" onclick="countrySport('DRC')" value="DRC">Democratic Republic of Congo</a></li>
                <li><a href="#" onclick="countrySport('Ethiopia')" value="Ethiopia">Ethiopia</a></li>
                <li><a href="#" onclick="countrySport('Eritrea')" value="Eritrea">Eritrea</a></li>
                <li><a href="#" onclick="countrySport('Iran')" value="Iran">Iran</a></li>
                <li><a href="#" onclick="countrySport('CAR')" value="CAR"> Central African Republic</a></li>
            </ul>
        </div>
*@



<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Compare</title>

    <meta name="theme-color" content="#CBA783">
</head>

<link rel="stylesheet" href="~/Content/Suggestions.css" />

<div class="header">
    <div class="headertitle">
        <div class="title-word">Sports</div>
        <div class="title-word">Comparison</div>
    </div>
</div>

<body class="u-body">

    @*<section class="u-clearfix u-image u-valign-middle-xs u-section-1" id="carousel_f5bf">
            <div class="u-hidden-xs u-shape u-shape-circle u-white u-shape-1"></div>
            <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-26 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <div class="u-border-6 u-border-black u-line u-line-horizontal u-line-1"></div>
                                <h1 class="u-custom-font u-font-raleway u-text u-text-custom-color-2 u-title u-text-1">
                                    Compare<br>Sports
                                </h1>
                                <p class="u-text u-text-grey-75 u-text-2">
                                    <br>· Choose your interested country in the right<br>· The overlap popular sports will be shown in the middle.<br>· The different sports will be shown separately.
                                </p>
                            </div>
                        </div>
                        <div class="u-container-style u-hidden-sm u-hidden-xs u-image u-layout-cell u-right-cell u-size-34 u-image-1" data-image-width="1280" data-image-height="853">
                            <div class="u-container-layout u-container-layout-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    <section class="u-clearfix u-section-2" id="sec-b18c">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-20 u-size-30-md">
                            <div class="u-layout-col">
                                <div class="u-container-style u-layout-cell u-shape-rectangle u-size-60 u-layout-cell-1">
                                    <div class="u-container-layout u-valign-middle u-container-layout-1">
                                        <p style="font-size:35.178px;text-align:center">AUSTRALIA</p>
                                        <img src="~/Images/compare/australia.png" alt="" class="u-image u-image-circle u-image-1" data-image-width="1280" data-image-height="853">
                                        <p style="padding-top:36px"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-20 u-size-30-md">
                            <div class="u-layout-col">
                                <div class="u-container-style u-layout-cell u-shape-rectangle u-size-30 u-layout-cell-2">
                                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                                        <span class="u-align-center u-icon  u-text-palette-1-base u-icon-1">
                                            <img src="~/Images/compare/versus.png" />
                                        </span>
                                    </div>
                                </div>
                                <div class="u-container-style u-layout-cell u-radius-30 u-shape-round  u-white">
                                    <div class="u-border-10 u-border-custom-color-2 u-container-layout u-container-layout-3">
                                        <div style="text-align: center; color: #CBA783;font-weight:bolder;font-size:2.4rem">Common Sports</div>
                                        <p class="u-align-center u-text u-text-2">

                                            <div style="font-size: 1.8rem;">
                                                <<div>
                                                        <p></p>
                                                </div>
                                                <center>
                                                    <div id="commonSwimming" class="common"><a href="/Home/SportsInformation/0" style="color:black">Swimming </a></div>
                                                    <div id="commonCycling" class="common"><a href="/Home/SportsInformation/1" style="color:black">Cycling </a></div>
                                                    <div id="commonSoccer" class="common"><a href="/Home/SportsInformation/2" style="color:black">Soccer </a></div>
                                                    <div id="commonDancing" class="common"><a href="/Home/SportsInformation/3" style="color:black">Dancing </a></div>
                                                    <div id="commonBasketball" class="common"><a href="/Home/SportsInformation/4" style="color:black">Basketball </a></div>
                                                </center>

                                            </div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-20 u-size-60-md">
                            <div class="u-layout-col">
                                <div class="u-container-style u-layout-cell u-shape-rectangle u-size-60 u-layout-cell-4">
                                    <div class="u-container-layout u-valign-middle-xl u-container-layout-4">
                                        <p id="country" style="font-size:35.178px;text-align:center;">
                                            Country
                                        </p>
                                        <center>
                                            <img id="IRAQImage" alt="" class="countryImage u-image u-image-circle u-image-2" data-image-width="1280" data-image-height="865" src="~/Images/compare/iraq.png" />
                                            <img id="SYRIAImage" class="countryImage u-image u-image-circle u-image-2" data-image-width="1280" data-image-height="865" src="~/Images/compare/syria.png" />
                                            <img id="MYANMARImage" class="countryImage u-image u-image-circle u-image-2" data-image-width="1280" data-image-height="865" src="~/Images/compare/myanmar.png" />
                                            <img id="AFGHImage" class="countryImage u-image u-image-circle u-image-2" data-image-width="1280" data-image-height="865" src="~/Images/compare/afghanistan.png" />
                                            <img id="DRCImage" class="countryImage u-image u-image-circle u-image-2" data-image-width="1280" data-image-height="865" src="~/Images/compare/republic-of-the-congo.png" />
                                            <div class="btn-group" role="group" aria-label="..." style="margin-top:10px">

                                                <button type="button" class="btn btn-default" onclick="countrySport('IRAQ')" value="IRAQ"> IRAQ </button>
                                                <button type="button" class="btn btn-default" onclick="countrySport('SYRIA')" value="SYRIA"> SYRIA </button>
                                                <button type="button" class="btn btn-default" onclick="countrySport('MYANMAR')" value="MYANMAR"> MYANMAR </button>
                                                <button type="button" class="btn btn-default" onclick="countrySport('AFGH')" value="AFGH"> AFGH </button>
                                                <button type="button" class="btn btn-default" onclick="countrySport('DRC')" value="DRC"> DRC </button>



                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-2">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-radius-30 u-shape-round u-size-20 u-white u-layout-cell-5">
                            <div class="u-border-10 u-border-custom-color-2 u-container-layout u-valign-middle u-container-layout-5">
                                <p class="u-align-center u-text u-text-4">
                                    @*<div style="text-align:center; color:#CBA783;font-size: 2.4rem;">Australia Popular Sports</div>*@
                                    <div style="font-size: 1.8rem;">
                                        <center>
                                            <div id="au0" class="auSport"><a href="/Home/SportsInformation/0" style="color:black">Swimming</a></div>
                                            <div id="au1" class="auSport"><a href="/Home/SportsInformation/1" style="color:black">Cycling</a></div>
                                            <div id="au2" class="auSport"><a href="/Home/SportsInformation/2" style="color:black">Soccer</a></div>
                                            <div id="au3" class="auSport"><a href="/Home/SportsInformation/3" style="color:black">Dancing</a></div>
                                            <div id="au4" class="auSport"><a href="/Home/SportsInformation/4" style="color:black">Basketball</a></div>
                                        </center>



                                    </div>
                                </p>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-hidden-sm u-hidden-xs u-image u-layout-cell u-size-20 u-image-3" data-image-width="1280" data-image-height="856">
                            <div class="u-container-layout u-container-layout-6"></div>
                        </div>
                        <div class="u-container-style u-layout-cell u-radius-30 u-shape-round u-size-20 u-white u-layout-cell-7">
                            <div class="u-border-10 u-border-custom-color-2 u-container-layout u-valign-middle u-container-layout-7">
                                <p class="u-align-center u-text u-text-5">
                                    @*<div style="text-align:center; color:#CBA783;font-size: 2.4rem;">Popular Sports</div>*@

                                    <div style="font-size: 1.8rem;">
                                        <center>
                                            <div id="IRAQ" class="countryContent">
                                                <div>
                                                    Kickboxing
                                                </div>
                                                <div>Weightlifting</div>
                                            </div>

                                            <div id="SYRIA" class="countryContent">

                                                <div><a href="/Home/SportsInformation/5" style="color:black">Tennis</a></div>
                                                <div>Weightlifting</div>

                                            </div>

                                            <div id="MYANMAR" class="countryContent">

                                                <div>Rugby</div>
                                                <div><a href="/Home/SportsInformation/10" style="color:black">Golf</a></div>
                                                <div>Sepak Takraw</div>
                                                <div><a href="/Home/SportsInformation/6" style="color:black">Cricket</a></div>


                                            </div>

                                            <div id="AFGH" class="countryContent">

                                                <div>Rugby</div>
                                                <div>Boxing</div>
                                                <div><a href="/Home/SportsInformation/6" style="color:black">Criket</a></div>

                                            </div>

                                            <div id="DRC" class="countryContent">

                                                <div>Rugby</div>

                                            </div>

                                        </center>

                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<section class="u-clearfix u-section-3" id="carousel_93be">
            <div class="u-clearfix u-expanded-width u-gradient u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1200" data-image-height="800">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <h2 class="u-align-center u-custom-font u-text u-text-grey-70 u-text-1">
                                    Locate&nbsp;<br>Sports?
                                </h2>
                                <center><a href="/Home/Map" class="u-border-1 u-border-white u-btn u-btn-round u-button-style u-hover-palette-3-light-3 u-palette-2-light-2 u-radius-50 u-text-grey-90 u-btn-1">GO FOR LOCATE</a></center>

                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-image u-layout-cell u-size-30 u-image-2" data-image-width="563" data-image-height="702">
                            <div class="u-container-layout u-valign-middle-xl u-container-layout-2">
                                <h2 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-text u-text-grey-75 u-text-2">
                                    Find&nbsp;<br>Events?
                                </h2>
                                <center><a href="/Home/Events" class="u-align-center u-btn u-btn-round u-button-style u-hover-palette-3-light-3 u-palette-2-light-2 u-radius-50 u-text-grey-90 u-btn-2">GO FOR EVENTS</a></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@


    @*<section class="u-clearfix u-section-1" id="carousel_3315">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                    <div class="u-layout">
                        <div class="u-layout-col">
                            <div class="u-size-30">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1" src="" data-image-width="150" data-image-height="99">
                                        <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
                                    </div>
                                    <div class="u-align-left u-container-style u-custom-color-1 u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                                            <h2 class="u-text u-text-1">Locate Sports</h2>
                                            <p class="u-text u-text-2">Click "LOCATION" to locate sports.</p>
                                            <a href="" class="u-btn u-btn-rectangle u-button-style u-hover-palette-3-light-1 u-palette-5-dark-2 u-btn-1">Location</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-size-30">
                                <div class="u-layout-row">
                                    <div class="u-align-left u-container-style u-custom-color-1 u-layout-cell u-left-cell u-size-30 u-layout-cell-3">
                                        <div class="u-container-layout u-container-layout-3">
                                            <h2 class="u-text u-text-3">Find Events</h2>
                                            <p class="u-text u-text-4">Click "Events" to find events.</p>
                                            <a href="" class="u-btn u-button-style u-hover-palette-3-dark-1 u-palette-5-dark-2 u-btn-2">eVENTS</a>
                                        </div>
                                    </div>
                                    <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-2" src="" data-image-width="150" data-image-height="78">
                                        <div class="u-container-layout u-valign-middle u-container-layout-4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    @*
        <section class="u-clearfix u-white u-section-3" id="sec-ec1f">
            <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
                <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                    <div class="u-gutter-0 u-layout">
                        <div class="u-layout-row">
                            <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="150" data-image-height="99">
                                <div class="u-container-layout u-container-layout-1">
                                    <h2 class="u-text u-text-body-alt-color u-text-1">Locate Sports</h2>
                                    <p class="u-text u-text-body-alt-color u-text-2">Click "LOCATION" to locate sports.</p>
                                    <a href="/Home/Map" class="u-border-none u-btn u-button-style u-custom-color-2 u-hover-palette-5-light-1 u-btn-1">LOCATION</a>
                                </div>
                            </div>
                            <div class="u-container-style u-image u-layout-cell u-size-30 u-image-2" data-image-width="150" data-image-height="78">
                                <div class="u-container-layout u-valign-top u-container-layout-2">
                                    <h2 class="u-align-left u-text u-text-body-alt-color u-text-3">Find Events</h2>
                                    <p class="u-text u-text-body-alt-color u-text-4">Click "EVENTS" to find more related events.</p>
                                    <a href="/Home/Events" class="u-border-0 u-border-none u-btn u-button-style u-custom-color-2 u-hover-palette-5-light-1 u-btn-2">events</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@





</body>
<section class="u-clearfix u-white u-section-3" id="sec-ec1f">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="row" style="text-align:center;">

            <div class="column">
                <div>
                    <div style="width:300px; margin:auto; text-align:center;">
                        <div class="card" id="forLocation" style="margin-top:20px;padding-top:10px;padding-left:5px;padding-right:5px">
                            <div>
                                <h3><b>Locate Sport Fields</b></h3>
                            </div>
                            <div style="overflow:hidden;">
                                <img src="~/Images/Symbols/pointer.png" style="object-fit:scale-down; padding:5%;" />
                            </div>
                            <div>
                                <p>Click to see more details</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="display:flex;justify-content:center;align-items:center;">
                <h2 style="color:black;">
                    <b> <i style="color:black;" class="icon-arrow-left"></i> Start your sports journey now <i class="icon-arrow-right"></i> </b>
                </h2>
            </div>



            <div class="column">
                <div>
                    <div style="width:300px; margin:auto; text-align:center;">
                        <div class="card" id="forEvents" style="margin-top:20px; padding-top:10px;padding-left:5px;padding-right:5px">
                            <div>
                                <h3><b>Find Sport Events</b></h3>
                            </div>
                            <div style="overflow:hidden;">
                                <img src="~/Images/Symbols/event.png" style="object-fit:scale-down; padding:5%;" />
                            </div>
                            <div>
                                <p>Click to see more details</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>




@* -------------------------------------------------------------------------------------------------------------------------------------- *@


@*<center>
        <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-default tab-links" onclick="ausSport(event, 'Swimming')" id="defaultOpen">Swimming</button>
            <button class="btn btn-default tab-links" onclick="ausSport(event, 'Cycling')">Cycling</button>
            <button class="btn btn-default tab-links" onclick="ausSport(event, 'AFL')">Australian Rules Football</button>
            <button class="btn btn-default tab-links" onclick="ausSport(event, 'Golf')">Golf</button>
            <button class="btn btn-default tab-links" onclick="ausSport(event, 'Basketball')">Basketball</button>
        </div>

    </center>*@







@*
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Others
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu"
            <li><a href="#" onclick="countrySport('DRC')" value="DRC">Democratic Republic of Congo</a></li>
            <li><a href="#" onclick="countrySport('Ethiopia')" value="Ethiopia">Ethiopia</a></li>
            <li><a href="#" onclick="countrySport('Eritrea')" value="Eritrea">Eritrea</a></li>
            <li><a href="#" onclick="countrySport('Iran')" value="Iran">Iran</a></li>
            <li><a href="#" onclick="countrySport('CAR')" value="CAR"> Central African Republic</a></li>
        </ul>
    </div>
*@





<!--<center>

<label>
    <input type="checkbox" name="colorCheckbox"
           value="Syria"> Syria
</label>
<label>
    <input type="checkbox" name="colorCheckbox"
           value="Iraqs"> Iraq
</label>
<label>
    <input type="checkbox" name="colorCheckbox"
           value="Myanmar"> Myanmar
</label>
<label>
    <input type="checkbox" name="colorCheckbox"
           value="Congo"> Democratic Rubblic of Congo
</label>
<label>
    <input type="checkbox" name="colorCheckbox"
           value="Afghanistan"> Afghanistan
</label>

<label>

    <input type="checkbox" name="colorCheckbox"
           value="Eritrea"> Eritrea

</label>

<label>
    <input type="checkbox" name="colorCheckbox"
           value="Ethiopia"> Ethiopia
</label>
<label>
    <input type="checkbox" name="colorCheckbox"
           value="Central African Republic"> Central African Republic
</label>

<label>
    <input type="checkbox" name="colorCheckbox"
           value="Iran"> Iran
</label>-->
@*<label>
    <input type="checkbox" name="colorCheckbox"
            value="Australia"> Australia
    </label>*@

<!--</center>-->
@*<link href="~/Content/comparePage.css" rel="stylesheet" />*@


<link href="~/Content/nicepage.css" rel="stylesheet" />

<script src="~/Scripts/Compare.js"></script>