@{
    ViewBag.Title = "Compare";
}


<br />
<br />

@*  The Importance Section
    <h1 style="color: #CBA783;text-align:center;">
        Compare Sports
    </h1>
    <br />
    <div id="importanceSection">
        <div id="header">

        </div>

        <div class="importanceContentContainter">
            <p style="text-align:center; font-size:medium" id="importanceContent">
                Choose your interested country in the right and compare with sports in Australia.
            </p>
            <p style="text-align:center;font-size:medium" id="importanceContent">
                The overlap popular sports will be shown in the middle.
            </p>
            <p style="text-align:center;font-size:medium" id="importanceContent">
                The different sports of each country will be shown separately.
            </p>
        </div>
    </div>

    <br />


    @*
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Others
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu"
                <li><a href="#" onclick="countrySport('DRC')" value="DRC">Democratic Republic of Congo</a></li>
                <li><a href="#" onclick="countrySport('Ethiopia')" value="Ethiopia">Ethiopia</a></li>
                <li><a href="#" onclick="countrySport('Eritrea')" value="Eritrea">Eritrea</a></li>
                <li><a href="#" onclick="countrySport('Iran')" value="Iran">Iran</a></li>
                <li><a href="#" onclick="countrySport('CAR')" value="CAR"> Central African Republic</a></li>
            </ul>
        </div>
*@




<html style="font-size: 14px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
    <link rel="stylesheet" href="Compare.css" media="screen">
    
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">

</head>

<body class="u-body">
    <section class="u-clearfix u-image u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-section-1" id="carousel_f5bf">
        <div class="u-hidden-xs u-shape u-shape-circle u-white u-shape-1"></div>
        <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-26 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <div class="u-border-6 u-border-black u-line u-line-horizontal u-line-1"></div>
                            <h1 class="u-custom-font u-font-raleway u-text u-text-custom-color-2 u-title u-text-1">
                                Compare<br>Sports
                            </h1>
                            <p class="u-text u-text-grey-75 u-text-2">
                                <br>· Choose your interested country in the right<br>· The overlap popular sports will be shown in the middle.<br>· The different sports will be shown separately.
                            </p>
                        </div>
                    </div>
                    <div class="u-container-style u-hidden-sm u-hidden-xs u-image u-layout-cell u-right-cell u-size-34 u-image-1" data-image-width="1280" data-image-height="853">
                        <div class="u-container-layout u-container-layout-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-clearfix u-section-2" id="sec-b18c">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-20 u-size-30-md">
                            <div class="u-layout-col">
                                <div class="u-container-style u-layout-cell u-shape-rectangle u-size-60 u-layout-cell-1">
                                    <div class="u-container-layout u-valign-middle-xl u-container-layout-1">
                                        <p class="u-align-center u-text u-text-1">Australia</p>
                                        <img src="~/Images/compare/australia.png" alt="" class="u-image u-image-circle u-image-1" data-image-width="1280" data-image-height="853">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-20 u-size-30-md">
                            <div class="u-layout-col">
                                <div class="u-container-style u-layout-cell u-shape-rectangle u-size-30 u-layout-cell-2">
                                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                                        <span class="u-align-center u-icon u-icon-circle u-text-palette-1-base u-icon-1">
                                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ff69"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-ff69">
                                                <g>
                                                    <path d="m324.75 0-98.12 291.79h-226.63v-291.79z" fill="#c68ef4"></path>
                                                    <path d="m324.75 0-98.12 291.79h-90.06v-291.79z" fill="#b574f1"></path>
                                                    <path d="m512 220.21v291.79h-325.75l98.12-291.79z" fill="#ffda44"></path>
                                                    <path d="m385.83 220.21h126.17v291.79h-126.17z" fill="#ffb655"></path>
                                                    <path d="m136.57 190.97 10 13.073-10 16.927h-24.6l-23.55-147.49 29.67-4.42z" fill="#f3f1f4"></path>
                                                    <path d="m375.58 322.37v30.67h50.51v90.66h-80.51v-30h50.51v-30.66h-50.51v-90.67h80.51v30z" fill="#f3f1f4"></path>
                                                    <g fill="#dfdce0">
                                                        <path d="m185.8 73.6-24.63 147.37h-24.6v-30l19.59-122.04z"></path>
                                                        <path d="m385.83 292.37h40.26v30h-40.26z"></path>
                                                        <path d="m385.83 353.04h40.26v90.66h-40.26v-30h10.26v-30.66h-10.26z"></path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <div class="u-container-style u-layout-cell u-radius-30 u-shape-round u-size-30 u-white u-layout-cell-3">
                                    <div class="u-border-10 u-border-custom-color-2 u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-3">
                                        <p class="u-align-center u-text u-text-2">
                                            <div style="font-size: 1.875rem;">
                                                <center>
                                                    <div id="commonSwimming" class="common"><a href="/Home/SportsInformation/0" style="color:#FF5511">Swimming </a></div>
                                                    <div id="commonCycling" class="common"><a href="/Home/SportsInformation/1" style="color:#008800">Cycling </a></div>
                                                    <div id="commonSoccer" class="common"><a href="/Home/SportsInformation/2" style="color:#FFAA33">Soccer </a></div>
                                                    <div id="commonDancing" class="common"><a href="/Home/SportsInformation/3" style="color:#b200ff">Dancing </a></div>
                                                    <div id="commonBasketball" class="common"><a href="/Home/SportsInformation/4" style="color:#5500DD">Basketball </a></div>
                                                </center>
                                                
                                            </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-20 u-size-60-md">
                            <div class="u-layout-col">
                                <div class="u-container-style u-layout-cell u-shape-rectangle u-size-60 u-layout-cell-4">
                                    <div class="u-container-layout u-valign-middle-xl u-container-layout-4">
                                        @*<p class="u-align-center u-text u-text-3">Country</p>*@
                                        <center>
                                            <div class="btn-group" role="group" aria-label="...">
                                                <br />
                                                <button type="button" class="btn btn-default" onclick="countrySport('Iraq')" value="Iraq"> Iraq </button>
                                                <button type="button" class="btn btn-default" onclick="countrySport('Syria')" value="Syria"> Syria </button>
                                                <button type="button" class="btn btn-default" onclick="countrySport('Myanmar')" value="Myanmar"> Myanmar </button>
                                                <button type="button" class="btn btn-default" onclick="countrySport('Afghanistan')" value="Afghanistan"> Afghanistan </button>
                                                <button type="button" class="btn btn-default" onclick="countrySport('DRC')" value="DRC"> Congo </button>
                                                <br />
                                                <br />
                                                <img id="IraqImage" alt="" class="countryImage u-image u-image-circle u-image-2" data-image-width="1280" data-image-height="865" src="~/Images/compare/iraq.png" />
                                                <img id="SyriaImage" class="countryImage u-image u-image-circle u-image-2" data-image-width="1280" data-image-height="865" src="~/Images/compare/syria.png" />
                                                <img id="MyanmarImage" class="countryImage u-image u-image-circle u-image-2" data-image-width="1280" data-image-height="865" src="~/Images/compare/myanmar.png" />
                                                <img id="AfghanistanImage" class="countryImage u-image u-image-circle u-image-2" data-image-width="1280" data-image-height="865" src="~/Images/compare/afghanistan.png" />
                                                <img id="DRCImage" class="countryImage u-image u-image-circle u-image-2" data-image-width="1280" data-image-height="865" src="~/Images/compare/republic-of-the-congo.png" />

                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-2">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-radius-30 u-shape-round u-size-20 u-white u-layout-cell-5">
                            <div class="u-border-10 u-border-custom-color-2 u-container-layout u-valign-middle u-container-layout-5">
                                <p class="u-align-center u-text u-text-4">
                                    <div style="font-size: 1.875rem;">
                                        <center>
                                            <div id="au0" class="auSport"><a href="/Home/SportsInformation/0" style="color:black">Swimming</a></div>
                                            <div id="au1" class="auSport"><a href="/Home/SportsInformation/1" style="color:black">Cycling</a></div>
                                            <div id="au2" class="auSport"><a href="/Home/SportsInformation/2" style="color:black">Soccer</a></div>
                                            <div id="au3" class="auSport"><a href="/Home/SportsInformation/3" style="color:black">Dancing</a></div>
                                            <div id="au4" class="auSport"><a href="/Home/SportsInformation/4" style="color:black">Basketball</a></div>
                                        </center>
                                            
                                        
                                        
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-hidden-sm u-hidden-xs u-image u-layout-cell u-size-20 u-image-1" data-image-width="1280" data-image-height="856">
                            <div class="u-container-layout u-container-layout-6"></div>
                        </div>
                        <div class="u-container-style u-layout-cell u-radius-30 u-shape-round u-size-20 u-white u-layout-cell-7">
                            <div class="u-border-10 u-border-custom-color-2 u-container-layout u-valign-middle u-container-layout-7">
                                <p class="u-align-center u-text u-text-5">
                                    <div style="font-size: 1.875rem;">
                                        <center>
                                            <div id="Iraq" class="countryContent">
                                                <div>
                                                    Kickboxing
                                                </div>
                                                <div>Weightlifting</div>
                                            </div>

                                            <div id="Syria" class="countryContent">

                                                <div><a href="/Home/SportsInformation/5" style="color:black">Tennis</a></div>
                                                <div>Weightlifting</div>

                                            </div>

                                            <div id="Myanmar" class="countryContent">

                                                <div>Rugby</div>
                                                <div><a href="/Home/SportsInformation/10" style="color:black">Golf</a></div>
                                                <div>Sepak Takraw</div>
                                                <div><a href="/Home/SportsInformation/6"  style="color:black">Cricket</a></div>


                                            </div>

                                            <div id="Afghanistan" class="countryContent">

                                                <div>Rugby</div>
                                                <div>Boxing</div>
                                                <div><a href="/Home/SportsInformation/6"  style="color:black">Criket</a></div>

                                            </div>

                                            <div id="DRC" class="countryContent">

                                                <div>Rugby</div>

                                            </div>

                                        </center>
                                       
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>
</html>







<link href="~/Content/comparePage.css" rel="stylesheet" />
<script src="~/Scripts/compare.js"></script>
<link href="~/Content/nicepage.css" rel="stylesheet" />
<link href="~/Content/Compare.css" rel="stylesheet" />
@* -------------------------------------------------------------------------------------------------------------------------------------- *@


@*<center>
        <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-default tab-links" onclick="ausSport(event, 'Swimming')" id="defaultOpen">Swimming</button>
            <button class="btn btn-default tab-links" onclick="ausSport(event, 'Cycling')">Cycling</button>
            <button class="btn btn-default tab-links" onclick="ausSport(event, 'AFL')">Australian Rules Football</button>
            <button class="btn btn-default tab-links" onclick="ausSport(event, 'Golf')">Golf</button>
            <button class="btn btn-default tab-links" onclick="ausSport(event, 'Basketball')">Basketball</button>
        </div>

    </center>*@



@*<div id="Swimming" class="tabcontent">

        <h3>Swimming</h3>
        <ul>
            <li>
                Swimming is Australia’s most popular sport, with a HUGE 3.1 million people regularly involved in it.
            </li>

            <li>
                Regardless of age, it seems that Australians just love their swimming, which isn’t surprising given how hot it is in Australia for most of the year, and how amazing most of our beaches are.
            </li>

            <li>
                We would love to know which sport you play.
            </li>

            <li>
                Was it on this list? Where did it rank? Is it perhaps another sport that isn’t on this list, but that you think might make the top 10 in a few years’ time?
            </li>
        </ul>


    </div>

    <div id="Cycling" class="tabcontent">
        <h3>Cycling</h3>
        <ul>
            <li>Cycling has two peak age periods for organised participation: the first at ages 9-11 then again at 45-54. As they say, it’s like riding a bike!</li>
            <li>Most children start to learn how to ride a bike at a very young age, usually a lot younger than most children first start participating in any social sports competitions. </li>
            <li>As a result of this, cycling has become one of our most popular sports, with over 2.4 million people participating in it. </li>
            <li>Whether it be competitively, or as a genuine way of travel, the popularity of cycling is continuing to increase as we speak.</li>
        </ul>

    </div>

    <div id="AFL" class="tabcontent">
        <h3>AFL</h3>
        <ul>
            <li>
                Aussie Rules, officially known as Australian Rules Football (AFL) or Australian football, is the most popular sport in Australia. </h4>
            </li>

            <li>It is a contact sport played by eighteen players per team.
            <li>

            <li>The sport dates back to the 19th century, and it is deeply rooted in Australian traditions. </li>

            <li>AFL is played by 1,404,176 registered players in 25,770 registered clubs as of 2016.</li>

            <li>In 2017, the Grand finale of Australian Football was watched by over 8.4 million Australians making the AFL the most-watched sport in Australia.</li>

            <li>The popularity of the sport has been extended beyond Australia’s boundaries into other countries such as China.</li>
        </ul>

    </div>

    <div id="Golf" class="tabcontent">
        <h3>Golf</h3>
        <ul>
            <li>Steadily seeing an increase in recent years, golf has been one of Australia’s most popular sports in recent years.</li>
            <li>Golf, which was first played in 1839, has since progressed to become one of Australia’s most favorite sports.</li>
            <li>The PGA Tour of Australasia, which happens to be one of Australia’s major golf events, attracts some of the world’s best golf players.</li>
            <li>The PGA Tour of Australasia also features a good number of Australians who have been successful at the tournament.</li>
        </ul>

    </div>

    <div id="Basketball" class="tabcontent">
        <h3>Basketball</h3>
        <ul>
            <li>Being a fairly popular sport in Australia, basketball is rated as the second most popular team participation sport in the region.</li>
            <li>The sport also attracts about 1 million players in Australia.</li>
            <li>The NBA largely influences the rise in basketball participation in far-away America, including the domestic basketball league and the National Basketball League in Australia.</li>
            <li>The national basketball team also enjoys a good media following as well as support from Australians.</li>
            <li>Basketball, which was first played in Australia in February 1897, is popular in parts of Australia like Victoria.</li>
        </ul>
    </div>*@




@*
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Others
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu"
            <li><a href="#" onclick="countrySport('DRC')" value="DRC">Democratic Republic of Congo</a></li>
            <li><a href="#" onclick="countrySport('Ethiopia')" value="Ethiopia">Ethiopia</a></li>
            <li><a href="#" onclick="countrySport('Eritrea')" value="Eritrea">Eritrea</a></li>
            <li><a href="#" onclick="countrySport('Iran')" value="Iran">Iran</a></li>
            <li><a href="#" onclick="countrySport('CAR')" value="CAR"> Central African Republic</a></li>
        </ul>
    </div>
*@





<!--<center>

<label>
    <input type="checkbox" name="colorCheckbox"
           value="Syria"> Syria
</label>
<label>
    <input type="checkbox" name="colorCheckbox"
           value="Iraqs"> Iraq
</label>
<label>
    <input type="checkbox" name="colorCheckbox"
           value="Myanmar"> Myanmar
</label>
<label>
    <input type="checkbox" name="colorCheckbox"
           value="Congo"> Democratic Rubblic of Congo
</label>
<label>
    <input type="checkbox" name="colorCheckbox"
           value="Afghanistan"> Afghanistan
</label>

<label>

    <input type="checkbox" name="colorCheckbox"
           value="Eritrea"> Eritrea

</label>

<label>
    <input type="checkbox" name="colorCheckbox"
           value="Ethiopia"> Ethiopia
</label>
<label>
    <input type="checkbox" name="colorCheckbox"
           value="Central African Republic"> Central African Republic
</label>

<label>
    <input type="checkbox" name="colorCheckbox"
           value="Iran"> Iran
</label>-->
@*<label>
    <input type="checkbox" name="colorCheckbox"
            value="Australia"> Australia
    </label>*@

<!--</center>-->
