@model IEnumerable<FIT5120_Project_Refugees.Models.Event>

@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="~/Content/Event.css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



@*<div class="container body-content" style="border:2px solid black; margin-top:10vh">

        <p>Start Date: <input type="text" id="datepickerStart"></p>

        <p>End Date: <input type="text" id="datepickerEnd"></p>

        <p> Radius <input type="number" id="radius"> </p>

        <p>Search  <input type="text" id="searchText"></p>

        <button onclick="loadEvents()">Click</button>


        <div id="list events">



        </div>




    </div>*@



<div class="header">

    <h1>Find your event</h1>

</div>

<div class="container">





    <div class="eventgrid">



        @foreach (var item in Model)
        {
            <div class="custom-card">


                <div class="card-cover" style="background-image: url( https://picsum.photos/600/400/?random );">
                    <div class="circle-image" style="background-image: url( https://picsum.photos/200/110/?random );"></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.event_name</h5>
                    <p class="card-text">@item.event_description</p>
                </div>
            </div>
        }


    </div>



</div>





<script src="~/Scripts/Event.js"></script>

