@{
    ViewBag.Title = "Home Page";
}



@*<div id="sloganSection">
         <h1>New to Australia?  Find Your Sport </h1>
    </div>*@

@*  The top image Section *@
<div id="coverImageSection">
    <div id="sloganSection">
        <h1 style="color:white;font-size:4em;" id="slogan"><b>New to Australia?  Find Your Sport !</b> </h1>
    </div>

    @*<div style="position:absolute;top:55%;">
        <a href="@Url.Action("Contact","Home")" class="btn-lg btn-default"> Find Sport </a>
    </div>*@
    @*<img src="~/Images/coverImage.jpg" style="object-fit:cover" width="100%" height="100%" />*@
</div>

@*<div class="container body-content">
        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>*@



@*  The Importance Section *@
<div id="importanceSection">
    <div>
        <h2 style="text-align:center;padding:10px" id="importanceTitle"><b>Why Is It So Important ?</b></h2>
    </div>

    <div style="width:50%;margin:auto;">
        <h4 style="line-height:1.7;" id="importanceContent">
            As a refugee, You will have a great chance to expand your social circle, get a group of friends, overcome language barrier and live a better life here in Australia, through sports.
            sprinkle your sweat,  and we move on together!
        </h4>
    </div>
</div>



<div>
    <div class="row">
        <div class="column">
            <div id="PhContainer">
                <div style="text-align:left">
                    <h4 id="socialAttributeTitle"><b>Social Attributes</b></h4>
                </div>
                <div>
                    <h4 style="text-align:justify;line-height:1.7">
                        <ul>
                            <li id="socialAttributeContent">
                                Outside of physical health, relationships are the most important foundation of Happiness and sports can be your way making friends. Sports is necessarily social. Whether you play a team game or a solo game, you communicate, even with the competitor. If you want to expand social networkings , improve interpersonal skills, or even just have a small talk with someone,
                                Sorts is one of the best tools to achieve this.
                            </li>
                        </ul>
                    </h4>
                </div>
            </div>

            <div id="MhContainer">
                <div>
                    <h4 id="mentalHealthTitle"><b>Mental Health</b></h4>
                </div>
                <div>
                    <h4 style="text-align:justify; line-height:1.7;">
                        <ul>
                            <li id="mentalHealthContent">According to relavent research, “in terms of physical changes in the brain, sport releases dopamine and serotonin. As a result, your risk of depression is reduced by up to 30%” Moreover, due to the competitive nature of sports, you can find a sense of achievement and self worth when playing sports, which therefore boost your well-being and confidence</li>
                        </ul>
                    </h4>
                </div>
            </div>
        </div>



        <div class="column" id="socialAtrributeImage">

        </div>
    </div>

</div>


@*  The Impact Section *@
@*<div class="container body-content" id="impactSection">
        <div class="row">
            <div class="text-center">
                <h2><b>Impact </b></h2>
            </div>
        </div>
        <div class="row">
            <div>
                <iframe id="youtubeVideo" style="padding:1% 0 0 0;width:100%; margin: 0 auto; " src="https://www.youtube.com/embed/fHjeoYvoSDk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

    </div>*@


<div id="helpYouSection">
    <div>
        <h1  style="text-align:center;">
            <b>We care !!</b>
        </h1>
    </div>
    
    <div>
        <h4>
            We are here to Help you
        </h4>
    </div>
   
</div>


@*  The Analytics Section *@
<div id="analyticsSection" style="text-align:center;padding-top:20px;">

    @*<div style="width:50%;margin:auto;">
        <h2 id="analyticsTitle"><b>The World</b></h2>
        <h4 id="analyticsContent" style="line-height:1.8">
            According to the Australian Government Department of Home Affairs refugees statistics from 2016 to 2019, the top 9 refugee-importing countries are Iraq, Syria, Myanmar, Afghanistan, Democratic Republic of Congo, Ethiopia, Eritrea, Iran, Central African Republic accounting for 76% of the total refugee population.

        </h4>
    </div>
    

    <div class="column" style="background-image:url('../../Images/mapAnalysis/refugee_map_latest.png'); background-size:cover;background-position:top; background-repeat:no-repeat;width:80%;height:60vh;margin:auto;">

    </div>*@

   
    <div class="row" >
        <div  class="column" style="padding:20px;margin:auto;text-align:center"; id="segueAnalytics">
            <div class="card" href="@Url.Action("Analytics","Home")">
                <div>
                    <h3>Refugee Stats</h3>
                </div>
                
                <div>
                    <img src="~/Images/Symbols/pie-chart.png" style="height:55%;width:55%; padding:20px 0 20px 0;" />
                </div>
                
                
                <div>
                    <span>Click to see more details</span>
                </div>
                
            </div>
         </div>

        <div class="column" style="padding:20px" id="segueSports">
            <div class="card">
                <div style="text-align:center;">
                    <h3><b>Find Sport</b></h3>
                </div>
                <div style="margin-top:20px;">
                    <img src="~/Images/Symbols/sport.png" style="height:55%;width:55%; padding:20px 0 20px 0;" />
                </div>
                <div>
                    <span>Click to see more details</span>
                </div>
            </div>
                
        </div>
    </div>
</div>


<script src="~/Scripts/Index.js"></script>


