@model FIT5120_Project_Refugees.Models.CustomSportsInformationModel

@{
    ViewBag.Title = "SportsInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/SportsInformation.css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="listContainer" id="sportsCatalog">

    <div>


        <h1>
            Sports
        </h1>
        <hr />


        <p><i class="icon-arrow-right"></i></p>


        <div style="display:flex;justify-content:center;align-items:center;">


            <ul>
                @for (var i = 0; i < Model.sports_id.Count; i++)
                {
                    <li class="one" style="word-wrap:break-word;">
                        @Html.ActionLink(Model.sports_name[i], "SportsInformation", "Home", new { id = Model.sports_id[i] }, new { style = "text-decoration:none;color:white;" })
                    </li>
                }
            </ul>
        </div>



        @*<ul>
            <li class="one">
                Basketball
            </li>
            <li class="one">
                Football (Soccer)
            </li>
            <li class="one">
                Cricket
            </li>
            <li class="one">
                Tennis
            </li>
            <li class="one">
                Swimming
            </li>
            <li class="one">
                Volleyball
            </li>
        </ul>*@

    </div>


</div>



<div class="mainContainer">



    <div>
        <h1 style="color:black;">@Model.selectedSport.sport_name</h1>

    </div>


    <hr />
    <a id="sportsCatalogButton"><i class="fa fa-bars"></i></a>

    <div class="section">
        <p class="sectionTitle">Description</p>
        <p class="sectionInformation">@Model.selectedSport.sport_desc</p>
    </div>

    <div class="section">
        <p class="sectionTitle">Benifit</p>
        <p class="sectionInformation">@Model.selectedSport.sport_benifit</p>
    </div>

    <div class="section">
        <p class="sectionTitle">Slangs</p>
    </div>

</div>

<script src="~/Scripts/SportsInformation.js"></script>




