
@{
    ViewBag.Title = "Suggestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Suggestions.css" />

<div style="margin-top:60px;">
    <img src="~/Images/SuggestionPage/SuggestionLogo.png" style="width: 100vw; height: 50vh; object-fit: cover;"/>
</div>

<div style="display:flex;justify-content:center;padding:5%;">
    <a onclick="retreveRandomVaribales()" class="button">Recommend</a>
</div>


<div class="container body-content">

    <div class="suggestionGrid">

        <div class="cardDimensions">
            
            <h3 id="sportsTitle1">

            </h3>

            <p1>

            </p1>
        </div>




        <div class="cardDimensions">
            <h3 id="sportsTitle2">>
            </h3>

            <p1>

            </p1>
        </div>

        <div class="cardDimensions">
            <h3 id="sportsTitle3">>
            </h3>

            <p1>

            </p1>
        </div>

        <div class="cardDimensions" >
            <h3 id="sportsTitle4">
            </h3>

            <p1>

            </p1>
        </div>

    </div>

</div>


<script src="~/Scripts/Suggestions.js"></script>


