@model  IEnumerable<FIT5120_Project_Refugees.Models.Sport>


@{
    ViewBag.Title = "Suggestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Suggestions.css" />

<div style="margin-top:60px;" class= "suggestionImg">
    <h1>Get A New Sport Recommended To You </h1>
</div>

<div style="display:flex;justify-content:center;padding:5%;">
    @Html.ActionLink("Recommend","Suggestions","Home", htmlAttributes:new { @class = "button" })
</div>


<div>
    <div class="suggestionGrid">

        @foreach (var item in Model)
        {
            <div class="card" style="display:flex; width:200px;height:200px; justify-content:center;align-items:center;  background-color : #CBA783; border:1px solid white;">
                <h3 id="sportsTitle1">
                    @Html.ActionLink(item.SPORT_NAME, "SportsInformation/" + item.SPORT_ID.ToString(), "Home", null, new { @style = "text-decoration:none; color:white;" })
                </h3>
            </div>
        }

    </div>

</div>

@*<div>

   
            <span class="circular-button">
                <span class="outer"></span>
                <span class="inner"></span>
            </span>
   

</div>*@


<script src="~/Scripts/Suggestions.js"></script>


