
@{
    ViewBag.Title = "Suggestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Suggestions.css" />

<div style="margin-top:60px;">
    <img src="~/Images/SuggestionPage/SuggestionLogo.png" style="width: 100vw; height: 50vh; object-fit: cover;"/>
</div>

<div style="display:flex;justify-content:center;padding:5%;">
    <a href="#" class="button">Recommend</a>
</div>


<div>

    <div style="display:grid;justify-items:center;grid-template-columns:1fr 1fr 1fr 1fr;">

        <div class="card" style="width:300px;height:300px;">
            <img src="~/Images/mentalHealth.jpg" />
        </div>




        <div class="card" style="width:300px;height:300px;">
            <img src="~/Images/mentalHealth.jpg" />
        </div>




        <div class="card" style="width:300px;height:300px;">
            <img src="~/Images/mentalHealth.jpg" />
        </div>

        <div class="card" style="width:300px;height:300px;">
            <img src="~/Images/mentalHealth.jpg" />
        </div>

    </div>


</div>


