@model  IEnumerable<FIT5120_Project_Refugees.Models.SPORT>


@{
    ViewBag.Title = "Suggestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Suggestions.css" />

<div style="margin-top:60px;" class= "suggestionImg">
    <h1>Get A New Sport Recommended To You </h1>
</div>

<div style="display:flex;justify-content:center;padding:5%;">
    @Html.ActionLink("Recommend","Suggestions","Home", htmlAttributes:new { @class = "button" })
</div>


<div>



    <div class="suggestionGrid">


        @foreach (var item in Model)
        {
           <div style="padding: 50px; background-color: #CBA783; border:1px solid white;">
               <h3 id="sportsTitle1">
                   @Html.ActionLink(item.sport_name , "SportsInformation/" + item.sport_id, "Home",new { @style="text-decoration:none; color:white;" })
               </h3>
            </div>
        }

        @*<div class="cardDimensions">

            <h3 id="sportsTitle1">
            </h3>

            <p1>

            </p1>
        </div>




        <div class="cardDimensions">
            <h3 id="sportsTitle2">
            </h3>

            <p1>

            </p1>
        </div>

        <div class="cardDimensions">
            <h3 id="sportsTitle3">
            </h3>

            <p1>

            </p1>
        </div>

        <div class="cardDimensions">
            <h3 id="sportsTitle4">
            </h3>

            <p1>

            </p1>
        </div>*@

    </div>

</div>


<script src="~/Scripts/Suggestions.js"></script>


