
@{
    ViewBag.Title = "Suggestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin-top:60px;">
    <img src="~/Images/SuggestionPage/SuggestionLogo1.jpg" style="width: 100vw; height: 100vh; object-fit: cover;"/>
</div>

