.btn {
    padding:5px 5px 5px 5px;
}


.header {
    height: 50vh;
    margin-top: 60px;
    margin-bottom: 40px;
    /* background: linear-gradient( 90deg,#CBA783 0%, #f99468 100%);*/
    background-image: url('../Images/compare/running-track-1201014_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color #CBA783;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.headertitle {
    position: relative;
    perspective: 400;
    padding-left: 17px;
    font-family: Arial;
    font-weight: bold;
    font-size: 52px;
    text-transform: uppercase;
    color: #fff;
}

    .headertitle:before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 6px;
        background: #CBA783;
        top: 0;
        left: 0;
        opacity: 0;
        transform: translateX(-150px);
        -webkit-animation: title-border-slide-in 0.35s ease-out forwards;
        animation: title-border-slide-in 0.35s ease-out forwards;
    }

    .headertitle .title-word {
        opacity: 0;
        transform-origin: bottom center;
        transform: rotateX(-90deg);
    }

        .headertitle .title-word:nth-child(1) {
            -webkit-animation: roll-in 0.15s 0s ease-out forwards;
            animation: roll-in 0.15s 0s ease-out forwards;
        }

        .headertitle .title-word:nth-child(2) {
            -webkit-animation: roll-in 0.15s 0.175s ease-out forwards;
            animation: roll-in 0.15s 0.175s ease-out forwards;
        }

        .headertitle .title-word:nth-child(3) {
            -webkit-animation: roll-in 0.15s 0.35s ease-out forwards;
            animation: roll-in 0.15s 0.35s ease-out forwards;
        }

        .headertitle .title-word:nth-child(4) {
            -webkit-animation: roll-in 0.15s 0.525s ease-out forwards;
            animation: roll-in 0.15s 0.525s ease-out forwards;
        }


.u-section-1 {
    background-image: url('../Images/compare/tyuuu.jpg');
    background-position: 50% 50%;
    min-height: 691px;
}

.u-section-1 .u-shape-1 {
  width: 320px;
  height: 320px;
  margin: 23px auto 0 calc(((100% - 1140px) / 2) + -63px);
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: -345px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 693px;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 40px;
}

.u-section-1 .u-line-1 {
  width: 111px;
  height: 6px;
  transform-origin: left center 0px;
  margin: 120px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 1.25rem;
  font-style: normal;
  margin: 23px -31px 0;
}

    .u-section-1 .u-image-1 {
        min-height: 693px;
        background-image: url('../Images/compare/compareTop.jpg');
        background-position: 50% 50%;
    }

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 448px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 270px);
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 1053px;
    margin: -333px auto 1px calc(((100% - 940px) / 2) + -63px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 733px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 733px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 712px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 270px);
    margin-top: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-right: 0;
    margin-bottom: -13px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 725px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 725px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 555px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-top: -345px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 960px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 444px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 170px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 415px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: 170px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -176px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 604px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 863px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 570px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  width: 159px;
  margin: 0 auto;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/e4ae5e47109ac4aab0601238e40f698e0efe2d312ae89e031b9ce28e27e1bda71cb2cf1370f9200205e10093d0ffdd2b7c824c3ebce5ea49546119_1280.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 325px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 200px;
  width: 200px;
  color: rgb(207, 35, 61) !important;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 245px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  width: 223px;
  margin: 54px auto 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 570px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  width: 159px;
  margin: 62px auto 0;
}

.u-section-2 .u-image-2 {
  width: 300px;
  height: 300px;
  background-image: url("images/8aaec4d2b72d7e15e4575702830d28b3c4fc66ed886fe2249b255ad9fb2bca09b7954b24f272f1c9422394c39affb9ed0eae60a2b8a58817d2446d_12801.jpg");
  background-position: 50% 50%;
  margin: 32px auto 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: -2px;
  margin-bottom: 1px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 293px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-size: 2.25rem;
  width: 223px;
  margin: 0 auto;
}

.u-section-2 .u-image-3 {
    min-height: 293px;
    background-image: url('');
    background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 293px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 2.25rem;
  width: 223px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-2 .u-image-1 {
    width: 253px;
    height: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 268px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 202px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 470px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 242px;
  }

  .u-section-2 .u-image-3 {
    min-height: 242px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 242px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 5px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 11px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 304px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 135px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 440px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -8px;
    margin-bottom: 3px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    width: 180px;
  }

  .u-section-2 .u-image-3 {
    min-height: 185px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-text-5 {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1626px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 455px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 137px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 416px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1665px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 286px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    min-height: 262px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 316px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

    .u-section-3 .u-image-1 {
        background-image: url('../Images/compare/953d6cfac30ae940c311987c64191a9b8b2285bfef5d19eb506b35e80d4f593a9e7b0397fcc8760955f4a36ae9f5cbb2480c0b09dcd64fa950f4d3_1280.jpg');
        background-position: 50% 50%;
        min-height: 246px;
    }

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 15px 60px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 60px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  margin: 30px auto 0 0;
}

    .u-section-3 .u-image-2 {
        background-image: url('../Images/compare/4dd7b40bcdeafbbb6c43008130a396f259425cd172d6277f55811e2ac4a8c703a3e29f57f7f42b5986deb8c04e2c5bbfe557b12a71325fb8b31bde_1280.jpg');
        background-position: 50% 50%;
        min-height: 246px;
    }

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 15px 60px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 60px 0 0;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 31px;
  }

  .u-section-3 .u-image-1 {
    min-height: 315px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    height: 38px;
    width: 99px;
    margin-top: 20px;
  }

  .u-section-3 .u-image-2 {
    min-height: 315px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    height: 38px;
    width: 99px;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.topnavbar {
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 0px 0px 5px 1px;
    overflow: hidden;
    background-color: white;
    z-index: 5;
}