@import url("https://fonts.googleapis.com/css?family=Mina:400,700");
/**
* Variables
*/
/**
* Rules
*/
html, body {
    min-height: 100%;
}




.header {
    height: 50vh;
    margin-top: 60px;
    margin-bottom: 40px;
    /* background: linear-gradient( 90deg,#CBA783 0%, #f99468 100%);*/

    background-image: url("../Images/Events/SportsEvents.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color #CBA783;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
}



.container{
    margin-top:100px;
}


.eventgrid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}



/*sada*/


.filterContainer{

    /*display:grid;
    grid-template-columns:1fr 1fr;*/
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:5vh;
}

.select-btn-streaming {
    width: 37%;
    border: 1px solid #969090;
    box-sizing: border-box;
    border-radius: 4px;
}

select {
    padding: 0.8em 0.5em;
    width: 100%;
}


/*
    Animay
*/

.headertitle {
    position: relative;
    perspective: 400;
    padding-left: 17px;
    font-family: Arial;
    font-weight: bold;
    font-size: 52px;
    text-transform: uppercase;
    color: #fff;
}

    .headertitle:before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 6px;
        background: #CBA783;
        top: 0;
        left: 0;
        opacity: 0;
        transform: translateX(-150px);
        -webkit-animation: title-border-slide-in 0.35s ease-out forwards;
        animation: title-border-slide-in 0.35s ease-out forwards;
    }

    .headertitle .title-word {
        opacity: 0;
        transform-origin: bottom center;
        transform: rotateX(-90deg);
    }

        .headertitle .title-word:nth-child(1) {
            -webkit-animation: roll-in 0.15s 0s ease-out forwards;
            animation: roll-in 0.15s 0s ease-out forwards;
        }

        .headertitle .title-word:nth-child(2) {
            -webkit-animation: roll-in 0.15s 0.175s ease-out forwards;
            animation: roll-in 0.15s 0.175s ease-out forwards;
        }

        .headertitle .title-word:nth-child(3) {
            -webkit-animation: roll-in 0.15s 0.35s ease-out forwards;
            animation: roll-in 0.15s 0.35s ease-out forwards;
        }

        .headertitle .title-word:nth-child(4) {
            -webkit-animation: roll-in 0.15s 0.525s ease-out forwards;
            animation: roll-in 0.15s 0.525s ease-out forwards;
        }

@-webkit-keyframes title-border-slide-in {
    0% {
        transform: translateX(-150px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes title-border-slide-in {
    0% {
        transform: translateX(-150px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes roll-in {
    0% {
        transform: rotateX(-90deg);
        opacity: 1;
    }

    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

@keyframes roll-in {
    0% {
        transform: rotateX(-90deg);
        opacity: 1;
    }

    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}





/* */


.customcard {
    width: 450px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-bottom:30px;
    cursor:pointer;
}

    .customcard h1 {
        text-align: center;
    }

    .customcard .additional {
        position: absolute;
        width: 150px;
        height: 100%;
        /* background: linear-gradient(#dE685E, #EE786E);*/
        background-color: #CBA783;
        transition: width 0.4s;
        overflow: hidden;
        z-index: 2;
    }

    .customcard.green .additional {
        background: linear-gradient(#92bCa6, #A2CCB6);
    }


    .customcard:hover .additional {
        width: 100%;
        border-radius: 0 5px 5px 0;
    }

    .customcard .additional .user-customcard {
        width: 150px;
        height: 100%;
        position: relative;
        float: left;
    }

        .customcard .additional .user-customcard::after {
            content: "";
            display: block;
            position: absolute;
            top: 10%;
            right: -2px;
            height: 80%;
            border-left: 2px solid rgba(0,0,0,0.025);
            
        }

        .customcard .additional .user-customcard .level,
        .customcard .additional .user-customcard .points {
            top: 15%;
            color: #fff;
            text-transform: uppercase;
            font-size: 0.75em;
            font-weight: bold;
            background: rgba(0,0,0,0.15);
            padding: 0.125rem 0.75rem;
            border-radius: 100px;
            white-space: nowrap;
        }

        .customcard .additional .user-customcard .points {
            top: 85%;
        }

        .customcard .additional .user-customcard svg {
            top: 50%;
        }

    .customcard .additional .more-info {
        width: 300px;
        float: left;
        position: absolute;
        left: 150px;
        height: 100%;
    }

        .customcard .additional .more-info h3 {
            color: #fff;
            margin-left:10px;
           
        }

    .customcard.green .additional .more-info h3 {
        color: #224C36;
    }

    .customcard .additional .coords {
        margin: 0 1rem;
        color: #fff;
        font-size: 1rem;
    }

    .customcard.green .additional .coords {
        color: #325C46;
    }

    .customcard .additional .coords span + span {
        float: right;
    }

    .customcard .additional .stats {
        font-size: 2rem;
        display: flex;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        top: auto;
        color: #fff;
    }

    .customcard.green .additional .stats {
        color: #325C46;
    }

    .customcard .additional .stats > div {
        flex: 1;
        text-align: center;
    }

    .customcard .additional .stats i {
        display: block;
    }

    .customcard .additional .stats div.title {
        font-size: 0.75rem;
        font-weight: bold;
        text-transform: uppercase;
        color:white;
    }

    .customcard .additional .stats div.value {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.5rem;
    }

        .customcard .additional .stats div.value.infinity {
            font-size: 2.5rem;
        }

    .customcard .general {
        width: 300px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        box-sizing: border-box;
        padding: 1rem;
        padding-top: 0;
    }

        .customcard .general .more {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            font-size: 0.9em;
        }


