*{
    box-sizing:border-box;
}

body {
    overflow:hidden;
    box-sizing:border-box;
}


#map {
    height: 90%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

/*#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}
*/
    #pac-input:focus {
        border-color: #4d90fe;
    }

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}




.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 300;
    margin-top: 0;
}

.control-group {

    position:absolute;
    top:163px;
    left:10px;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    box-shadow: 0 0px 5px 2px rgba(0,0,0,0.2);
    border-radius:5px;
    padding: 30px 30px 10px 30px;
   
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
}

    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

.control input:checked ~ .control__indicator {
    background: #2aa1c0;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #0e647d;
}

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}

.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

    .select select {
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 0;
        border-radius: 0;
        background: #e6e6e6;
        color: #7b7b7b;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

        .select select::-ms-expand {
            display: none;
        }

        .select select:hover,
        .select select:focus {
            color: #000;
            background: #ccc;
        }

        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }

.select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
}

.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
    border-top-color: #000;
}

.select select:disabled ~ .select__arrow {
    border-top-color: #ccc;
}



.searchContainer {
    width: 35%;
    position: absolute;
    left: 40%;
    top: 40%;
    transform: translate(-50%, -50%);
}

}


.search-box {
    width: 100%;
    position: relative;
    display: flex;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 4px solid #111d5e;
    border-radius: 10px 0 0 10px;
    border-right: none;
    outline: none;
    font-size: 20px;
    color: tomato;
    background: none;
}

.search-button {
    text-align: center;
    height: 51px;
    width: 40px;
    outline: none;
    cursor: pointer;
    border: 4px solid #111d5e;
    border-radius: 0 10px 10px 0;
    border-left: none;
    background: none;
    font-size: 20px;
    border-left: 4px solid #111d5e;
}




/*input text*/

.sexy_field {
    margin: auto;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100px;
    right: 0;
    font-family: "Oswald", sans-serif;
    width: 300px;
}

lable {
    font-size: 30px;
    position: absolute;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.26);
    height: 100px;
    left: 0;
    width: 400px;
    color: white;
    top: 23px;
    z-index: -1;
    transition-duration: 0.2s;
    transition-property: transform;
}

input {
    border: none;
    padding: 40px 0px 20px 0px;
    box-shadow: 0px 3px white, 0px 5px rgba(0, 0, 0, 0.16);
    background: transparent;
    outline: none;
    height: 30px;
    width: 300px;
    transition-property: transform;
    font-size: 26px;
}

input:focus + lable {
        transform: translateY(-45px) translateX(-80px) scale(0.6);
    }

lable:after {
    content: "";
    box-shadow: inset 8px -8px 0 white, -3px 4px 0 rgba(0, 0, 0, 0.26);
    position: absolute;
    top: 20px;
    right: -100px;
    height: 28px;
    transition-duration: 0.1s;
    transition-property: transform;
    transform: rotate(-45deg) scale(0.6);
    width: 60px;
    float: right;
    display: block;
    margin: 50px auto;
}

input:valid + lable {
    transform: translateY(-45px) translateX(-80px) scale(0.6);
}

input:valid + lable::after {
        display: block;
        transform: translateX(-10px) rotate(-45deg);
    }

input:invalid + lable::after {
    transform: translateX(100px) rotate(-45deg);
}
