
@font-face {
    font-family: 'MyWebFont';
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

body {
    padding-bottom: 20px;
    background-color:#f2f2f2;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.topnavbar {
    position: fixed;
    top: 0px;
    width:100%;
    box-shadow: 0px 0px 5px 1px;
    overflow: hidden;
    background-color: white;
}

.topnavbar a {
    float: left;
    text-decoration: none;
    color: black;
    padding: 20px;
    transition: 0.2s ease;
    font-weight: bold;
    cursor:pointer;
}

.topnavbar a:hover{
    background-color:black;
    color:white;
}

.topnavbar a#logo{
    background-image:url("../Images/logo.png");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    padding-left:20px;
}

#coverImageSection {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../Images/CoverImageCropped.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slogan {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight:bold;
}

.navbar-collapse {
    height:10%;
}

#socialAtrributeImage {
    background-image: url("../Images/socialAttribute.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.circularImageContainer {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display:flex;
}

.column {
    overflow:hidden;
    width:50%;
    flex:1;
}

#MhContainer,#PhContainer{

    padding:5% 5% 0 5%;
    background-color:#f2f2f2;
}

#importanceSection {
    text-align: center;
    padding-top: 1.6%;
    padding-bottom: 2.5%;
    background-color: #CBA783;
    color: white;
}