body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-default .navbar-brand {
    color: black;
}

#coverImageSection{
    height:100vh;
  
}

#importanceSection {
    height: 100vh;
    margin-top: 1%;
}

#impactSection {
    height: 100vh;
}

#analyticsSection {
    height: 100vh;
}

#image1 {
    width: 60vh;
    height: 35vh;
}

#image2{
    width:60vh;
    height:35vh;
}


.circularImageContainer {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
