
:root {
    --backgroundColor: #CBA783;
    --sloganFontSize: 3vw;
    --textFontSize: 1.1vw;
    --sectionTitleFontSize: 2.2vw;
}



* {
    box-sizing: border-box;
    overflow:hidden;
}


.sectionInformation{
    word-wrap:break-word;
    font-size:1.1vw;
}

.sectionTitle {
    font-size: 2.2vw;
    font-weight: bold;
}


.section{
    margin-top:4%;
}

#sportsCatalogButton {
    
    display:none;

}

.listContainer{
    box-sizing:border-box;
    position:absolute;
    left:0;
    top:0;
    width:20vw;
    height:100vh;
    padding-top:10vh;
    overflow:auto;
    background-color:var(--backgroundColor);
}

.mainContainer{
   box-sizing:border-box;
   position:absolute;
   left:20vw;
   width:80vw;
   height:100vh;
   overflow:auto;
   text-align:justify;
   padding:3%;
}

/*Sports suggestions*/





h1 {
    color: #fff;
    text-align: center;
    font-size: 60px;
}

li.one {
    color: #fff;
    list-style: none;
    position: relative;
    padding-left: 35px;
    line-height: 3;
    font-size: 28px;
    cursor:pointer;
}


li.slangs{
    color:black;

}

@media screen and (max-width: 800px) {
    .sectionInformation{
        font-size:20px;
    }

    .sectionTitle{
        font-size:25px;
    }
   
    .mainContainer{
        padding-top:10%;
        width:100vw;
        left:0vw;
    }

    .listContainer{
        width:0vw;
    }

    #sportsCatalogButton{
        display:inline;
        cursor:pointer;
    }

}

li.one:before {
    font-family: fontawesome;
    position: absolute;
    left: 0;
    color: #318ca0;
    font-size: 28px;
    content: "\f111";
}


li.two:before {
    font-family: fontawesome;
    position: absolute;
    left:3.5vw;
    margin-top:20px;
    color: #318ca0;
    font-size: 20px;
    content: "\f111";
}


 li.one:hover:before {
        color: #fff;
 }
