
:root {
    --backgroundColor: #CBA783;
    --sloganFontSize: 3vw;
    --textFontSize: 1.1vw;
    --sectionTitleFontSize: 2.2vw;
}



* {
    box-sizing: border-box;
    overflow:hidden;
}

.listContainer{
    box-sizing:border-box;
    position:absolute;
    left:0;
    top:0;
    width:25vw;
    height:100vh;
    background-color:var(--backgroundColor);
}

.mainContainer{
   box-sizing:border-box;
   position:absolute;
   left:25vw;
   width:75vw;
   height:100vh;
   overflow:auto;
   text-align:justify;
   padding:3%;
}
