
:root {
    --backgroundColor: #CBA783;
    --sloganFontSize: 3vw;
    --textFontSize: 1.1vw;
    --sectionTitleFontSize: 2.2vw;
}



* {
    box-sizing: border-box;
    overflow:hidden;
}

.listContainer{
    box-sizing:border-box;
    position:absolute;
    left:0;
    top:0;
    width:25vw;
    height:100vh;
    background-color:var(--backgroundColor);
}

.mainContainer{
   box-sizing:border-box;
   position:absolute;
   left:25vw;
   width:75vw;
   height:100vh;
   overflow:auto;
   text-align:justify;
   padding:3%;
}

/*Sports suggestions*/

h1 {
    color: #fff;
    text-align: center;
    font-size: 60px;
}

li {
    color: #fff;
    list-style: none;
    position: relative;
    padding-left: 50px;
    line-height: 2;
    font-size: 32px;
    cursor:pointer;
}

    li:before {
        font-family: FontAwesome;
        position: absolute;
        left: 0;
        color: #318ca0;
        font-size: 32px;
    }

    li.one:before {
        content: "\f111";
    }

    li.two:before {
        content: "\f00c";
    }

    li.three:before {
        content: "\f10c";
    }

    li.four:before {
        content: "\f004";
    }

    li.five:before {
        content: "\f1e2";
    }

    li.six:before {
        content: "\f0e7";
    }

    li:hover:before {
        color: #fff;
    }
